<div class="task-container">
  <mat-card class="custom-mat-card">
    <mat-card-header>
      <mat-card-title>Teams List</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="task-list-container">
        <div *ngFor="let task of taskList" class="task-item">
          <!-- Task Checkbox -->
          <mat-checkbox [(ngModel)]="task.completed" class="checkbox"></mat-checkbox>

          <!-- Task Description -->
          <span class="task-description">{{ task.description }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="valid()">Add Team</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-raised-button color="error" (click)="choose()">Team check</button>
    </mat-card-actions>
  </mat-card>

</div>
